@keyframes rowUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.row-up {
  animation: rowUp 500ms ease-in-out;
}

@keyframes rowDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.row-down {
  animation: rowDown 500ms ease-in-out;
}

.race-interface-box {
  position: relative;
  background-color: rgba(232, 241, 250, 0.71);
  border-color: #073763;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}