body {
  margin: 0;
  background-color: #040b14;
}

canvas {
  position:absolute;
  margin:0;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden { 
  display:none; 
}