#outline{
    stroke-dasharray: 934;
    stroke-dashoffset: 3736.578857421875;
    animation: dash 5s linear forwards;
    animation-iteration-count: infinite;
  }
  
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}